<div class="page-header2" data-parallax="true" style="background-image: url('./assets/img/bg-eles.JPG');">
  <div class="filter"></div>

<br/>
<br/>
  <div class="section section-dark">
      <div class="container">
          <div class="row">

  
        <div class="col-xs-6  col-sm-3 col-md-2 offset-md-1">
            <h4 class="title">Cd Grupo Eles</h4>
            <img src="assets/img/capa_cd.jpg"  width="200px" height="200px" class="img-thumbnail img-responsive img-rounded" alt="Grupo Eles">
            <p class="text-center description">Disponível em todas as plataformas digitais</p>
        </div>

              <div class="col-xs-6 col-md-8 ml-auto mr-auto text-center">
                  <h2 class="title">Quando esse dia chegar</h2>
                  <p class="description">O Grupo Eles crê que a volta de Jesus está próxima, cremos na palavra de Deus, na Bíblia e na promessa do salvador do mundo que em breve voltará para levar aqueles que o aceitam como salvador, o albúm quando este dia chegar é baseado inteiramente nesta promessa, que a cada dia está mais perto de se cumprir. Prepare-se, ele virá!</p>
                                      <img src="./assets/img/logo1.jpg" alt="Grupo Eles Logotipo" class="img-rounded img-responsive" style="width: 100%">
              
              </div>
          </div>
      </div>
  </div>

</div>
  <div class="container">
    
      <div class="row">
          <div class="col-md-12 col-xs-12 ">
    <div class="motto text-center">
    <h1>Acappella</h1>
      <h3>Quando este dia chegar.</h3>
      <h4>Disponível em CD Físico e plataformas digitais</h4>
      <img src="./assets/img/capa_cd.jpg"  width="400px" height="400px" class="img-thumbnail img-responsive img-rounded" alt="Grupo Eles">
      <br />
      <br />     
    </div>
    </div>
    </div>
            <div class="row">
                <div class="col-md-12 col-xs-12 ">
                    <div class="card page-carousel">
                        <ngb-carousel>
                            <ng-template ngbSlide>
                                <img src="./assets/img/plataforma.jpg" width="600px" height="200px" class="img-thumbnail img-responsive img-rounded" alt="Deezer">
                                <div class="carousel-caption">
                                    <p>Louvor</p>
                                </div>
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="./assets/img/plataforma2.jpg"  width="600px" height="200px" class="img-thumbnail img-responsive img-rounded" alt="Google Play">
                                <div class="carousel-caption">
                                    <p>Adoração</p>
                                </div>
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="./assets/img/plataforma3.jpg"  width="600px" height="200px" class="img-thumbnail img-responsive img-rounded" alt="Itunes">
                                <div class="carousel-caption">
                                    <p>Harmônia</p>
                                </div>
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="./assets/img/plataforma4.jpg"  width="600px" height="200px" class="img-thumbnail img-responsive img-rounded" alt="Spotify">
                                <div class="carousel-caption">
                                    <p>Alegria</p>
                                </div>
                            </ng-template>
                        </ngb-carousel>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-xs-12 ">
                  <h1>
                    O album Quando esse dia chegar foi lançado em Abril de 2018 
                  </h1>
                  <p class="description"></p>

                  
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-xs-12 ">

                <h1>
                    Lançamento
                  </h1>
                  <p class="description"> O albúm conta inteiramente com músicas Acappella, ou seja, o único instrumento musical utilizado é a voz humana, um recurso proporcionado exclusivamente por Deus a todos nós.</p>

                  <h1>
                      As músicas
                    </h1>
                    <p class="description">As músicas do albúm são em sua maioria composições dos membros do grupo e amigos que fazem parte da nossa história, você pode conferir todas as letras <a href="http://grupoeles.cpdvital.com.br/musicaeles">aqui mesmo</a> ou em <a href="https://letras.com/grupo-eles">letras.com</a> </p>

                    <h1>
                        Ficha técnica
                      </h1>
                      
                      <p class="description">Produtor Musical : Grupo Eles
                          Produção Executiva : Grupo Eles
                          Gravado no Estúdio :  Ouvido Absoluto Studio
                          Produção Fotográfica: Elisvitre Fotografia 
                          Gravado, Mixado e Masterizado por Ronaldo S. A. Lemos  e Rogério S.A. Lemos no estúdio Ouvido Absoluto Studio.</p>

                      <h1>
                          Parcerias
                        </h1>
                        <p class="description"> A gravação deste albúm contou com a ajuda de alguns amigos e a parceria da <a href="http://www.primojoias.com.br">Primo Jóias</a> - a jóia do seu jeito. <img class="img-rounded" src="./assets/img/primojoias.png" alt="Primo Jóias"> </p>
                        
                       <h1>Agradecimentos</h1> 
  <p class="description">Agradecemos a Deus pelo maravilhoso dom de cantar e pelo privilégio de levar Sua mensagem com nossas vozes. Com carinho e dedicação realizamos esse trabalho, para transmitir alegria e a esperança da breve volta de Jesus. De muita importância foram nossos familiares, que em mais de 10 anos de louvor, mesmo sendo por muitas vezes privados de nossa presença devido aos constantes ensaios e apresentações, sempre mantiveram firme seu apoio e companheirismo. Aos amigos e irmãos, que com suas orações e até recursos financeiros nos ajudaram a dar continuidade ao nosso ministério. 
      A todos um forte abraço da família Eles.</p>

                </div>
            </div>

      </div>