<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/bg-eles.JPG');">
  <div class="filter"></div>

  <div class="motto text-center">
        <h1>Acappella</h1>
        <h3>Quando este dia chegar.</h3>
        <br />
        <br />
        
        <div class="section section-dark">
              <div class="container">
                  <div class="row">
        
          
                <div class="col-xs-6  col-sm-3 col-md-2 offset-md-1">
                    <h4 class="title">Cd Grupo Eles</h4>
                    <img src="assets/img/capa_cd.jpg" class="img-thumbnail img-responsive" alt="Grupo Eles">
                    <p class="text-center description">Disponível em todas as plataformas digitais</p>
                </div>
        
                      <div class="col-md-8 ml-auto mr-auto text-center">
                          <h2 class="title">Nossas canções</h2>
                          <p class="description">A maioria das músicas do grupo são de autoria dos componentes do grupo e de amigos que fazem grande parte da nossa história, canções que marcam nosso tempo e trazem muita alegria anunciando a breve volta de Jesus.</p>
                                              <img src="./assets/img/logo7.jpg" width="100px" height="200px" class="img-thumbnail img-responsive" alt="Grupo Eles" class="img-rounded img-responsive" style="width: 100%">
                                              <h3> Sidney Almeida, Rodney Farias, Urias Junior, Renato Gardino, Luiz Otsuka, Rubens Santana são os compositores das músicas que compoem o mais novo albúm do Grupo.</h3>
                                              <h4> Você pode encontrar também todas as letras do album do Grupo Eles no maior site brasileiro de letras de músicas</h4>
                                              <a href="https://www.letras.com/grupo-eles/">Letras das músicas do Grupo Eles</a>
                            
                      
                      </div>
                  </div>
              </div>
          </div>
  
      </div>

</div>
  <div class="container">
    
      <div class="row">
          <div class="col-md-12  ">
    
    </div>
    </div>
  
    <div class="row">
            <div class="col-md-12  ">

            <h1 class="title">
                Confira as canções 
              </h1>
              </div>
            </div>
            
            <div class="row">
                <div class="col-md-12  ">

                <h1>
                    Quando esse dia chegar 
                  </h1>
                  <h2>Rodney Farias/Wesley Martins</h2>
                  <p class="description">Coro:
                        Sim eu quero pronto estar, quando esse dia chegar
                        E lá no alto eu avistar, 
                        Jesus Cristo voltando pra nos buscar.
                        
                        Estrofe 1:
                        Eu olho para o tempo e vejo ele passar, 
                        as vidas se acabando, meu Deus o que será? 
                        Eu não vou me corromper, 
                        pois com Cristo eu quero estar,
                        neste mundo de ilusões eu não quero mais andar.
                        
                        Estrofe 2:
                        Jesus Cristo veio a esse mundo nos ensinar como amar,
                        sacrificando a si mesmo morreu em meu lugar,
                        ele subiu ao céu e prometeu que vai voltar 
                        então meu irmão, se prepara.
                        Porque no céu nós iremos morar.
                        </p>
                  
                </div>
            </div>

            
            <div class="row">
                <div class="col-md-12  ">

                    <h1>
                        Obrigado
                      </h1>
                      <h2>Renato Gardino</h2>
                      <p class="description">
                            Sei que em cada momento do meu viver
                            Os seus anjos estão sempre a me proteger 
                            Em qualquer situação em qualquer lugar 
                            Ao meu lado ele sempre estará
                            
                            Coro
                            Obrigado Senhor, 
                            por seu amor em minha vida
                            Ofereço Senhor, 
                            este louvor com alegria
                            
                            Nunca me esquecerei do meu salvador
                            Ele guia minha vida com muito amor
                            Se Jesus me concede a salvação
                            É motivo então para agradecer </p>
  
                </div>
            </div>


            <div class="row">
                <div class="col-md-12  ">

                    <h1>
                        Plano da Salvação
                      </h1>
                      <h2>Urias Jr</h2>
                      <p class="description">Tudo era perfeito no céu, 
                            até que um anjo se tornou cruel
                            e nos levou em sua enganação
                            mas não contou com o plano da salvação
                            
                            Corô
                            Tchara,
                            Tchap tchuru tchara (2x)
                            Tchap tchuru tchaaaaaaa
                            
                            Jesus a terra veio por amar,
                            Sua missão era nos salvar
                            e por isso foi levado a cruz,
                            dor suportou e nos salvou Jesus
                            
                            Corô
                            Tchara,
                            Tchap tchuru tchara (2x)
                            Tchap tchuru tchaaaaaaa
                            
                            Quando Cristo a terra retornar,
                            o meu sonho vou realizar,
                            irei morar com o meu Jesus,
                            em um lugar de vida, amor e luz.
                            
                            Cristo, nos da a graça, 
                            basta somente você aceitar
                            
                            Corô
                            Tchara,
                            Tchap tchuru tchara (2x)
                            Tchap tchuru tchaaaaaaa
                            </p>
  
                </div>
            </div>

            
            <div class="row">
                <div class="col-md-12  ">

                    <h1>
                        Ele é fiel
                      </h1>
                      <h2>Luis Henrique Otsuka</h2>
                     <p class="description">Coro:
                            Ele é fiel, se entregar a sua vida, 
                            Te transformará em guerreiro da justiça,
                            Ele só pede, o seu coração 
                            Não demores mais, se entregue em suas mãos
                            E ele fará, o melhor da sua vida.
                            
                            Estrofe 1:
                            O Meu Deus, é um Deus de amor
                            Pois me guia, nos caminhos da tua paz 
                            Ele espera que eu me entregue em suas mãos,
                            Pois quer fazer de mim um grande vencedor
                            
                            Estrofe 2:
                            O meu Deus, cumpre o que diz
                            Transformou meu ser e agora sou feliz
                            Ele também te ama e quer te libertar
                            Pois quer você morando com ele lá no lar
                            </p>
  
                </div>
            </div>

            
            <div class="row">
                <div class="col-md-12  ">

                    <h1>
                        Deus Protetor
                      </h1>
                      <h2>Rubens Santana/Eleonora Arruda</h2>
                      <p class="description">Não temas porque eu sou contigo 
                            Não te assombres, porque eu sou teu Deus
                            Eu te fortaleço e te ajudo, 
                            com a minha destra fiel
                            
                            Ainda que tu andes pelo vale da sombra da morte,
                            Teu refúgio serei
                            Invoca-me e eu responderei
                            E te darei muito mais do que sabes pedir
                            
                            Batei e a porta se abrirá
                            E ao meu lado estarás
                            Reinarás para sempre
                            
                            Coro(2X)
                            Glórias ao Senhor Jesus
                            Glórias ao Salvador, cordeiro de Deus
                            </p>
  
                </div>
            </div>

            
            <div class="row">
                <div class="col-md-12  ">

                    <h1>
                        Quero Aprender a amar
                      </h1>
                      <h2>Renato Gardino</h2>
                      <p class="description">Quero seguir, ao meu Senhor
                            Quero seguir, ao meu Senhor
                            
                            Quero seguir a Jesus,
                            Quero sentir seu amor,
                            Quero viver em união, 
                            Quero ter consagração
                            
                            Coro
                            Quero aprender a amar,
                            Quero cantar desse amor,
                            Quero seu nome louvar,
                            Quero sempre cantar
                            
                            Pra que sua vida seja mais feliz,
                            Deves a Jesus se entregar,
                            Seguir as palavras que a bíblia diz
                            e nunca deixar de orar 
                            
                            Coro
                            Quero aprender a amar,
                            Quero cantar desse amor,
                            Quero seu nome louvar,
                            Quero sempre cantar
                            
                            Vou viver assim,
                            sob a proteção de Jesus
                            e se algo errado me acontecer,
                            sei que ele vai resolver
                            
                            Coro (2X)
                            Quero aprender a amar,
                            Quero cantar desse amor,
                            Quero seu nome louvar,
                            Quero sempre cantar
                            </p>
  
                </div>
            </div>

            
            <div class="row">
                <div class="col-md-12  ">

                    <h1>
                        Justos
                      </h1>
                      <h2>Rubens Santana/Eleonora Arruda</h2>
                      <p class="description">Está perto se apressa o grande dia do Senhor, 
                            Clamam até aqueles que poderosos são,
                            nem a prata nem o ouro os poderão 
                            livrar de sua indignação, 
                            mas o fogo do seu zelo trará repentina destruição.
                            
                            Coro:
                            Buscai ao Senhor os justos da terra,
                            buscai a humildade e a mansidão,
                            O Senhor não mantém a sua ira para sempre, 
                            Porque ele tem prazer na misericórdia.
                            
                            No dia do Senhor os céus passarão com estrepitoso som, e os elementos se desfarão abrasados, também a terra e as obras que nela existem serão atingidas e Ele virá entretanto com um ladrão. 
                            
                            Coro(2X)
                            Buscai ao Senhor os justos da terra,
                            buscai a humildade e a mansidão,
                            O Senhor não mantém a sua ira para sempre, 
                            Porque ele tem prazer na misericórdia.
                            </p>
  
                </div>
            </div>

            
            <div class="row">
                <div class="col-md-12  ">

                    <h1>
                        Pronto
                      </h1>
                      <h2>Sidney Almeida</h2>
                      <p class="description">Corô
                            Eu quero estar pronto, quando ele voltar
                            Eu quero estar pronto, para ir ao lar.
                            
                            Quando Cristo as trombetas, lá do céu mandar tocar
                            E o dia mui glorioso em luz romper
                            Aos remidos triunfantes meu Jesus se apresentar
                            Eu quero estar pronto para ir ao lar.
                            
                            E se as ondas desta vida destruirem sua fé
                            E não tens mais forças pra continuar
                            Não desvies do caminho, a sua mão te guiará
                            Esteja hoje pronto para ir ao lar.
                            
                            Mensagem:
                            Ahh meu grande amigo, você já viu que o recado é simples e direto,
                            a Bíblia diz que Jesus muito em breve vai voltar e acredite: 
                            Todo o olho o verá. 
                            Então não perca a oportunidade de fazer parte desta grande festa no céu, e esteja: Pronto para ir ao lar...
                            </p>
  
                </div>
            </div>

            
            <div class="row">
                <div class="col-md-12  ">

                    <h1>
                        Você tem que saber
                      </h1>
                      <h2>Renato Gardino</h2>
                      <p class="description">Você tem que saber do amor de Jesus
                            Imenso amor não da pra entender
                            Você tem que saber de sua morte na cruz
                            Morreu para que eu e você
                            Pudesse-mos viver
                            
                            Você tem que saber, que ainda há solução
                            Pois nada é impossível pra Jesus
                            Você tem que saber, Cristo dá o perdão
                            Aceite a sua morte na cruz e tenha salvação
                            
                            Você tem que saber, que ele em breve virá
                            E toda a tristeza terá fim
                            Você tem que saber que não vai demorar
                            Eu sei que pra você e pra mim, no céu há um lugar
                            </p>
  
                </div>
            </div>

            
            <div class="row">
                <div class="col-md-12  ">

                    <h1>
                        Jesus me salvou
                      </h1>
                      <h2>Urias Jr</h2>
                      <p class="description"> 
                            Muitas vezes nós pensamos 
                            que não temos salvação
                            e caimos em tristeza
                            sem achar a solução,
                            Pecamos todo o dia
                            como vamos pedir perdão?
                            Nos sentimos sem saida
                            Sem alguém pra dar a mão
                            Mas a saída é simples
                            Tenha jesus no coração
                            
                            Coro
                            O nosso Deus o preço pagou,
                            a vida deu por mim pecador,
                            com amor tão grande lá na cruz
                            do pecado me resgatou,
                            Ele tudo fez, o preço pagou,
                            me amou e me libertou,
                            hoje tenho a certeza 
                            que salvo estou
                            
                            Agora livres do pecado,
                            salvação podemos ter
                            Jesus Cristo deu a vida,
                            para podermos viver.
                            Hoje temos uma escolha
                            entre escuridão e luz,
                            vou seguir a quem me ama
                            e por mim morreu na cruz.
                            Eu respondo com certeza,
                            escolho Jesus.
                            
                            Coro
                            O nosso Deus o preço pagou,
                            a vida deu por mim pecador,
                            O nosso Deus o preço pagou,
                            a vida deu por mim pecador,
                            com amor tão grande lá na cruz
                            do pecado me resgatou,
                            Ele tudo fez, o preço pagou,
                            me amou e me libertou.
                            
                            Hoje tenho a certeza,
                            que salvo estou
                            Hoje tenho a certeza, 
                            Jesus me salvou.
                            
                            </p>
  
                </div>
            </div>

            
            <div class="row">
                <div class="col-md-12  ">

                    <h1>
                        Póslúdio
                      </h1>
                      <h2>Rodney Farias</h2>
                      <p class="description"> Grupo cantando o Corô da música tema Quando esse dia chegar e bate-papo entre os componentes</p>
  
                </div>
            </div>

      </div>