<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/bg-gabarito.jpg');">
  <div class="filter"></div>
  <div class="container">
    <div class="motto text-center">
      <h1>Cadastro page</h1>
      <h3>Start designing your landing page here.</h3>
      <br />
      <div class="col-xs-6  col-sm-3 col-md-2 offset-md-1">
        <h4 class="images-title">Gabarito</h4>
        <img src="assets/img/logo_gabarito.jpg" class="img-thumbnail img-responsive" alt="Rounded Image">
        <p class="text-center">Erik Faker</p>
      </div>
    </div>


    <div class="main">
      <div class="section text-center">
        <div class="container">


          <form class="form-horizontal" [formGroup]="formulario" (ngSubmit)="onSubmit()">

            <div class="form-group">
              <div class="col-sm-12">
                <label for="nome" class="control-label" name="nome">Nome</label>
              </div>
              <div class="col-sm-12">
                <input type="text" class="form-control" formControlName="nome" id="nome" placeholder="Nome">
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-12">
                <label for="email" class="control-label" name="email">Email</label>
              </div>
              <div class="col-sm-12">
                <input type="text" class="form-control" formControlName="email" id="email" placeholder="nome@email.com">
              </div>
            </div>

            <button type="submit" class="btn btn-primary">submit</button>
          </form>
        </div>
      </div>
    </div>

    <div class="footer register-footer text-center">
      
      <h6>&copy;<!--{{test | date: 'yyyy'}} -->, made with <i class="fa fa-heart heart"></i> by Creative Tim</h6>
    </div>
  </div>
</div>