<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/bg-eles.JPG');">
  <div class="filter"></div>
</div>
  <div class="container">
    
      <div class="row">
          <div class="col-md-12  ">
    <div class="motto text-center">
      <h1>Acappella</h1>
      <h3>Quando este dia chegar.</h3>
      <h4>Agenda 2019</h4>
      <br />
      <br />     
    </div>
    </div>
    </div>
  
    <div class="row">
    <p class="description">Ei... calma aí, em breve todos os detalhes da agenda por aqui...</p>
  </div>
  
            <div class="row">
                <div class="col-md-12  ">
                  <h1>Evento
                  </h1>
                  <h2> Local</h2>
                  <h2> Data</h2>

                  <h3> Endereço</h3>
                  <h4> Detalhes</h4>
                  
                </div>
            </div>

            
      </div>

            


