<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/bg-eles.JPG');">
  <div class="filter"></div>
  <div class="container">
    <div class="motto text-center">
      <h1>Acappella</h1>
      <h3>Quando este dia chegar</h3>
      <p class="title">Vem com Eles e conheça um pouco do nosso ministério, navegue para conhecer nosso mais novo album e acompanhe os próximos eventos.</p>
      <p class="subtitle">Nosso objetivo é levar a esperança e alegria através de canções que transmitem a alegria da breve esperança da volta de Jesus, vem com Eles.</p>
      <br />
      <br />
      <br />
      <br />
    </div>   
  </div>
</div>