<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="http://www.adventistas.org/pt/">IASD</a></li>
                    <li><a href="http://novotempo.com/tv/aovivo">Novo Tempo</a></li>
                    <li><a href="https://www.cpdvital.com.br">Software Solution</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by Cpdvital Soluções
                </span>
            </div>
        </div>
    </div>
</footer>
